<div class="header">
    <a href="" class="logo"><i class="fa fa-bus"></i>SAFAR</a>
    <div class="header-right">
      <a href="../aboutUs/home-page.component.html#about"><i class="fa fa-info-circle"></i>About Us</a>
      <a href="/home-page.component.html#contact"><i class="fa fa-phone"></i>Contact Us</a>
      <!-- <a href=""><i class="fa fa-book"></i>Terms Of Use</a> -->
      <a href="login"><i class="fa fa-fw fa-user"></i>Login</a>
      <a href="signup"><i class="fa fa-user-plus"></i>Sign Up</a>
      <a href="checkStatus"><i class="fa fa-ticket"></i>Check Ticket</a>
      <a href="adminlogin"><i class="fa fa-database"></i>Admin</a>
    </div>
</div>
