<h3>Add New Bus</h3>
<div  style= "align-content:center;" >
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Bus Number</label>
            <input type="text" class="form-control" id="busNo" required [(ngModel)]="bus.busNo" name="busNo" placeholder="Bus Number">
        </div>

        <div class="form-group" >
            <label for="name">Bus Name</label>
            <input type="text" class="form-control" id="busName" required [(ngModel)]="bus.busName" name="busName" placeholder="Bus Name">
        </div>

        <div class="form-group">
            <label for="name">No Of Seats</label>
            <input type="number" class="form-control" id="noOfSeats" required [(ngModel)]="bus.noOfSeats" name="noOfSeats" placeholder="No of Seats">
        </div>

        <div class="form-group">
            <label for="name">Bus Type Id</label>
            <input type="number" class="form-control" id="id" required [(ngModel)]="id" name="id" placeholder="Bus type id">
        </div>
       
        <button type="submit" class="btn btn-success">Submit</button>
        <button  class="btn btn-success" [routerLink]="['../modifyBus']" style="margin-left: 10px;">Back</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h5>You added new Bus successfully!</h5>
    <button  class="btn btn-success" [routerLink]="['../modifyBus']" style="margin-left: 10px;">Back</button>
</div>
</div>

