<h3>Add New Timetable</h3>
<div  style= "align-content:center;" >
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Time Table Id</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="id" name="id" placeholder="Time Table Id">
        </div>

        <div class="form-group" >
            <label for="name">Departure Date & Time</label>
            <input type="datetime-local" class="form-control" id="dt" required [(ngModel)]="dt" name="dt" placeholder="yyyy-mm-dd hh:mm:ss">
        </div>

        <div class="form-group">
            <label for="name">Bus Number</label>
            <input type="text" class="form-control" id="bsid" required [(ngModel)]="bsid" name="bsid" placeholder="Bus Number">
        </div>

        <div class="form-group">
            <label for="name">Route Id</label>
            <input type="number" class="form-control" id="routeId" required [(ngModel)]="routeId" name="routeId" placeholder="Route Id">
        </div>

        <div class="form-group">
            <label for="name">Driver Id</label>
            <input type="text" class="form-control" id="driverId" required [(ngModel)]="driverId" name="driverId" placeholder="Driver Id">
        </div>
       
        <button type="submit" class="btn btn-success">Submit</button>
        <button  class="btn btn-success" [routerLink]="['../timetable']" style="margin-left: 10px;">Back</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h5>You added new Bus successfully!</h5>
    <button  class="btn btn-success" [routerLink]="['../timetable']" style="margin-left: 10px;">Back</button>
</div>
</div>


