<h3>Update Routes</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Source</label>
      <input type="text" class="form-control" id="source" required [(ngModel)]="routes.source" name="source">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="destination" required [(ngModel)]="routes.destination" name="destination">
    </div>

    <div class="form-group">
      <label for="name">Route Fare</label>
      <input type="text" class="form-control" id="routeFare" required [(ngModel)]="routes.routeFare" name="routeFare">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>